.form-inline .form-group {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

input[type="text"] {
    height: 34px;
    width: 200px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
