body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
}

.margin-left-10 {
    margin-left: 10px;
}

.block {
    display: block;
}

.needle, .haystack, .pointer {
    font-family: Monaco, Consolas, monospace;
    font-size: 32px;
}

.explanation {
    font-size: 14px;
    line-height: 1.43;
}

.highlight-matching-chars {
    background-color: green;
    color: white;
}

.shiftTable {
    border-collapse: collapse;
    border: 1px solid;
}

.shiftTable thead tr td, .shiftTable tbody tr td  {
    border-collapse: collapse;
    border-right: 1px solid;
    border-top: 1px dotted #777;
    width: 22px;
    text-align: center;
}
