body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.needle, .haystack, .pointer {
    display: block;
    font-family: Monaco, Consolas, monospace;
    font-size: 24px;
}

.highlight-matching-chars {
    background-color: green;
    color: white;
}

.shiftTable {
    font-family: Monaco, Consolas, monospace;
    border-collapse: collapse;
    border: 1px solid;
}

.shiftTable thead tr td, .shiftTable tbody tr td  {
    border-collapse: collapse;
    border-right: 1px solid;
    border-top: 1px dotted #777;
    width: 26px;
    text-align: center;
}
